.App {
  text-align: center;
  background-color: #8758FF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.task-list {
  max-height: 300px;
  overflow-y: auto; 
  margin-top: 20px;
  padding-right: 10px; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1E123B #FCFCFC; 
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
